---
layout: page
title:  Articles
permalink: /articles/
order:  2
---

<div class="home">

  My recent blog posts are <a href="http://p.migdal.pl">here</a>. Below, there is a list of my old articles, cockoo-style blog posts and Stack Exchange contributions I am particularly proud of.
  <br><br>

  <h1 class="page-heading">External articles, posts, write-ups, etc (excluding research papers)</h1>
  <ul class="event-list">
  {% assign articles_sorted = site.data.articles | sort: "date" %}
  {% for article in articles_sorted reversed %}
    <li>
      <span class="post-meta">
        {{ article.date | date: "%Y" }}
        •
      </span>
      <a href="{{ article.href }}">{{ article.title }}</a>
      <span class="post-meta">
        @ {{ article.at }}
        {% if article.hn %}
        • see <a href="{{ article.hn }}">HN discussion</a>
        {% endif %}
      </span>
    </li>
  {% endfor %}
  </ul>

</div>
