---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%-d %b %Y" }}
          •
          {% for tag in post.tags %}
            <span>[{{ tag }}]</span>
          {% endfor %}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <h1 class="page-heading">My talks and workshops (upcoming and recent)</h1>
  <ul class="event-list">
  {% for event in site.data.events %}
    {% capture nowunix %}{{site.time | date: '%s' | minus: 604800}}{% endcapture %}
    {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
    {% if eventtime >= nowunix %}
    <li>
      <span class="post-meta">
        {{ event.date | date: "%-d %b %Y" }}
        •
        {{ event.place}}
        •
        {% for tag in event.tags %}
          <span>[{{ tag }}]</span>
        {% endfor %}
      </span>
      <br>
      <a href="{{ event.href }}">{{ event.talk }}</a>
      <span class="post-meta">@ {{ event.event}}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

</div>
