---
layout: page
title:  Projects
permalink: /projects/
order:  1
---

<div class="home">

  My open projects with a certain overrepresentation of D3.js data visualizations (easy to share, easy to explain, eye-candy). For contract work, take a look at my <a href="http://p.migdal.pl/resume/">Resume</a>.
  <br><br>

  <h1 class="page-heading">Repos, events I organized, etc</h1>
  <ul class="event-list">
  {% for project in site.data.projects %}
    <li>
      <a href="{{ project.href }}">{{ project.title }}</a>
      <span class="post-meta">
      {% for tag in project.tags %}
        <span>[{{ tag }}]</span>
      {% endfor %}
      •
      started: {{ project.dateStart | date: "%Y" }}
      •
      {{ project.status}}
      {% if project.hn %}
      • see <a href="{{ project.hn }}">HN discussion</a>
      {% endif %}
      </span>
      </br>
      {{ project.desc }}
    </li>
  {% endfor %}
  </ul>

</div>
