<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <img src="{{ site.url }}/imgs/global/piotr_migdal_2013_mit_300sq.jpg" alt="Piotr Migdał - as of 2013" width="150px" height="150px" />
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="{{ site.url }}">{{ site.url }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <li>
            {% if site.linkedin_username %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="fa fa-linkedin-square" style="color:#828282"></span></a>
            {% endif %}

            {% if site.stackexchange_username %}
              <a href="https://stackexchange.com/users/{{ site.stackexchange_username }}"><span class="fa fa-stack-overflow" style="color:#828282"></span></a>
            {% endif %}

            {% if site.delicious_username %}
              <a href="https://delicious.com/{{ site.delicious_username }}"><span class="fa fa-delicious" style="color:#828282"></span></a>
            {% endif %}
          </li>
          <li><a href="http://quantumgame.io">quantumgame.io</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>Python (+ ε of R) for data analysis and machine learning, JavaScript for data visualization.</p>
      </div>
    </div>

  </div>

</footer>
